<nav class="navbar navbar-expand-lg custom-nav">
    <div class="container-fluid">
      <div class="navbar-brand-container">
        <a class="navbar-brand" href="/">Polaris</a>
        <small class="tagline">Our North Star</small>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="/volunteers">Volunteers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/events">Events</a>
            </li>
            <li class="nav-item"></li>
              <a class="nav-link" href="/organizations">Orgs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/upcoming_event_management">Upcoming Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/virtual">Virtual</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin">Admin</a>
            </li>
            {% if current_user.is_admin %}
            <li class="nav-item"></li>
              <a class="nav-link" href="/history_table">History</a>
            </li>
            <!-- <li class="nav-item"></li>
              <a class="nav-link" href="/tech_jobs">Tech Jobs</a>
            </li> -->
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  